sudo: required

language: generic

services:
  - docker

install:
  - sudo cp ./bin/fin /usr/local/bin/fin
  - fin version
  - USE_BRANCH=${TRAVIS_BRANCH}
    if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then
      if [[ $TRAVIS_PULL_REQUEST_SLUG == $TRAVIS_REPO_SLUG ]]; then 
        USE_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}
      else
        USE_BRANCH='develop'
      fi
    fi
  - export DOCKSAL_VERSION=${USE_BRANCH}
  - fin update
  - fin sysinfo

before_script:
  - git clone https://github.com/docksal/drupal8.git ../drupal8
  - mkdir ../test-config
  - mkdir ../test-duplicates

script:
  # Testing Docksal system services
  - bats "tests/smoke-test-system.bats"
  # Test Docksal configuration system
  - cd "$TRAVIS_BUILD_DIR/../test-config"
  - bats "$TRAVIS_BUILD_DIR/tests/smoke-test-config.bats"
  # Test a project workflow
  - cd "$TRAVIS_BUILD_DIR/../drupal8"
  - bats "$TRAVIS_BUILD_DIR/tests/smoke-test-general.bats"
  # Test duplicates detection
  - cd "$TRAVIS_BUILD_DIR/../test-duplicates"
  - bats "$TRAVIS_BUILD_DIR/tests/smoke-test-duplicates.bats"

after_success:
  - cd "$TRAVIS_BUILD_DIR
  # Trigger builds in example project repos
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then tests/scripts/travisci-build-trigger docksal/drupal7; fi
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then tests/scripts/travisci-build-trigger docksal/drupal7-advanced; fi
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then tests/scripts/travisci-build-trigger docksal/drupal8; fi
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then tests/scripts/travisci-build-trigger docksal/wordpress; fi
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then tests/scripts/travisci-build-trigger docksal/magento; fi
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then tests/scripts/travisci-build-trigger docksal/magento-demo; fi
