sudo: required

language: generic

services:
  - docker

install:
  - git clone https://github.com/docksal/bats.git tests/scripts/bats
  - cd tests/scripts/bats
  - sudo ./install.sh /usr/local
  - cd "$TRAVIS_BUILD_DIR"
  - sudo cp ./bin/fin /usr/local/bin/fin
  - fin version
  - USE_BRANCH="${TRAVIS_BRANCH}"
  - if [[ "$TRAVIS_PULL_REQUEST" != "false" && "${TRAVIS_PULL_REQUEST_SLUG}" == "${TRAVIS_REPO_SLUG}" ]]; then USE_BRANCH="${TRAVIS_PULL_REQUEST_BRANCH}"; fi
  - if [[ "$TRAVIS_PULL_REQUEST" != "false" && "${TRAVIS_PULL_REQUEST_SLUG}" != "${TRAVIS_REPO_SLUG}" ]]; then USE_BRANCH='develop'; fi
  - export DOCKSAL_VERSION=${USE_BRANCH}
  - fin update
  - fin sysinfo

before_script:
  - git clone https://github.com/docksal/drupal8.git ../drupal8
  - mkdir ../test-config
  - mkdir ../test-duplicates
  - mkdir ../test-init

script:
  # Function runs tests by file name $1 in dir specified in $2
  - run_tests() { [[ "$2" != "" ]] && cd "$2"; bats -i "$TRAVIS_BUILD_DIR/tests/$1"; }
  - run_tests system.bats
  - run_tests config.bats "$TRAVIS_BUILD_DIR/../test-config"
  - run_tests general.bats "$TRAVIS_BUILD_DIR/../drupal8"
  - run_tests duplicates.bats "$TRAVIS_BUILD_DIR/../test-duplicates"
  - run_tests quicktest.bats

after_success:
  - cd "$TRAVIS_BUILD_DIR"
  # Trigger builds in boilerplate project repos
  - build_trigger() { [[ "$TRAVIS_BRANCH" == "master" ]] && tests/scripts/travisci-build-trigger "$1"; }
  - build_trigger docksal/drupal7
  - build_trigger docksal/drupal7-advanced
  - build_trigger docksal/drupal8
  - build_trigger docksal/wordpress
  - build_trigger docksal/magento
  - build_trigger docksal/magento-demo
