# This is a library of preconfigured services for Docksal.
# To use any service extend it from this file located at ${HOME}/.docksal/stacks/services.yml.
# See ${HOME}/.docksal/stacks/default.yml for a basic LAMP stack extending from web, db and cli services in this file.

version: "2.1"

services:
  # Web: Apache
  apache:
    hostname: web
    image: ${WEB_IMAGE:-docksal/apache:2.4-2.3}
    volumes:
      - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
    labels:
      - io.docksal.virtual-host=${VIRTUAL_HOST},*.${VIRTUAL_HOST},${VIRTUAL_HOST}.*
      - io.docksal.cert-name=${VIRTUAL_HOST_CERT_NAME:-none}
      - io.docksal.project-root=${PROJECT_ROOT}
      - io.docksal.permanent=${SANDBOX_PERMANENT:-false}
    environment:
      - APACHE_DOCUMENTROOT=/var/www/${DOCROOT:-docroot}
      - APACHE_FCGI_HOST_PORT=cli:9000
      - APACHE_BASIC_AUTH_USER
      - APACHE_BASIC_AUTH_PASS
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # Web: Apache (DEPRECATED)
  # TODO: remove November 2019
  web:
    hostname: web
    image: ${WEB_IMAGE:-docksal/web:2.2-apache2.4}
    volumes:
      - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
    labels:
      - io.docksal.virtual-host=${VIRTUAL_HOST},*.${VIRTUAL_HOST},${VIRTUAL_HOST}.*
      - io.docksal.cert-name=${VIRTUAL_HOST_CERT_NAME:-none}
      - io.docksal.project-root=${PROJECT_ROOT}
      - io.docksal.permanent=${SANDBOX_PERMANENT:-false}
    environment:
      - APACHE_DOCUMENTROOT=/var/www/${DOCROOT:-docroot}
      - APACHE_FCGI_HOST_PORT=cli:9000
      - APACHE_BASIC_AUTH_USER
      - APACHE_BASIC_AUTH_PASS
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # Web: Nginx
  nginx:
    hostname: web
    image: ${WEB_IMAGE:-docksal/nginx:1.14-1.0}
    volumes:
    - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
    labels:
    - io.docksal.virtual-host=${VIRTUAL_HOST},*.${VIRTUAL_HOST},${VIRTUAL_HOST}.*
    - io.docksal.cert-name=${VIRTUAL_HOST_CERT_NAME:-none}
    - io.docksal.project-root=${PROJECT_ROOT}
    - io.docksal.permanent=${SANDBOX_PERMANENT:-false}
    environment:
    - NGINX_VHOST_PRESET=drupal
    - NGINX_FCGI_HOST_PORT=cli:9000
    - NGINX_SERVER_ROOT=/var/www/${DOCROOT}
    - NGINX_BASIC_AUTH_USER
    - NGINX_BASIC_AUTH_PASS
    dns:
    - ${DOCKSAL_DNS1}
    - ${DOCKSAL_DNS2}

  # DB: MySQL
  mysql:
    hostname: db
    image: ${DB_IMAGE:-docksal/mysql:5.6-1.4}
    ports:
      - "${MYSQL_PORT_MAPPING:-3306}"
    volumes:
      - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
      - db_data:/var/lib/mysql  # Database data volume
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_ALLOW_EMPTY_PASSWORD
      - MYSQL_RANDOM_ROOT_PASSWORD
      - MYSQL_ONETIME_PASSWORD
      - MYSQL_INITDB_SKIP_TZINFO
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # DB: MySQL
  mariadb:
    hostname: db
    image: ${DB_IMAGE:-docksal/mariadb:10.3-1.0}
    ports:
    - "${MYSQL_PORT_MAPPING:-3306}"
    volumes:
    - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
    - db_data:/var/lib/mysql  # Database data volume
    environment:
    - MYSQL_ROOT_PASSWORD
    - MYSQL_USER
    - MYSQL_PASSWORD
    - MYSQL_DATABASE
    - MYSQL_ALLOW_EMPTY_PASSWORD
    - MYSQL_RANDOM_ROOT_PASSWORD
    - MYSQL_ONETIME_PASSWORD
    - MYSQL_INITDB_SKIP_TZINFO
    dns:
    - ${DOCKSAL_DNS1}
    - ${DOCKSAL_DNS2}

  # DB: PostgreSQL
  pgsql:
    hostname: db
    image: ${DB_IMAGE:-postgres:9.6-alpine}
    ports:
      - "${PGSQL_PORT_MAPPING:-5432}"
    volumes:
      - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
      - db_data:/var/lib/postgresql/data  # Database data volume
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-default}
      - POSTGRES_USER=${POSTGRES_USER:-user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-user}
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # CLI - Used for all console commands and tools.
  cli:
    hostname: cli
    image: ${CLI_IMAGE:-docksal/cli:2.10-php7.3}
    volumes:
      - project_root:/var/www:rw,nocopy,cached  # Project root volume
      - ${SSH_AUTH_SOCK:-docksal_ssh_agent}:${SSH_AUTH_SOCK:-/.ssh-agent}:ro  # Shared ssh-agent socket/SSH key forwarding support
      - cli_home:/home/docker  # Write-heavy directories should be in volumes. See https://github.com/docksal/docksal/issues/325
    labels:
      - io.docksal.user=docker
      - io.docksal.shell=bash
    environment:
      - GIT_USER_EMAIL
      - GIT_USER_NAME
      - HOST_UID
      - HOST_GID
      - DOCROOT
      - VIRTUAL_HOST
      - XDEBUG_ENABLED=${XDEBUG_ENABLED:-0}
      # TODO: remove xdebug.remote_connect_back in June 2020
      # See https://github.com/docksal/docksal/issues/1238#issuecomment-566779905
      - XDEBUG_CONFIG=remote_connect_back=0 remote_host=${DOCKSAL_HOST_IP} # Point xdebug to the listener on the host
      - PHP_IDE_CONFIG # This helps with console scripts debugging in PHPStorm (the values is set in docksal-local.env)
      - DRUSH_ALLOW_XDEBUG=${XDEBUG_ENABLED:-0}
      - DRUSH_OPTIONS_URI=${VIRTUAL_HOST}
      - BLACKFIRE_CLIENT_ID
      - BLACKFIRE_CLIENT_TOKEN
      - SECRET_SSH_PRIVATE_KEY
      - SECRET_ACAPI_EMAIL
      - SECRET_ACAPI_KEY
      - SECRET_PLATFORMSH_CLI_TOKEN
      - SECRET_TERMINUS_TOKEN
      - SSH_AUTH_SOCK=${SSH_AUTH_SOCK:-/.ssh-agent/proxy-socket}  # SSH key forwarding support
      - MYSQL_HOST
      - MYSQL_ROOT_PASSWORD
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MYSQL_DATABASE
      - COMPOSER_ALLOW_XDEBUG=${XDEBUG_ENABLED:-0}
      - COMPOSER_DISABLE_XDEBUG_WARN=${XDEBUG_ENABLED:-0}
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # Varnish
  varnish:
    hostname: varnish
    image: ${VARNISH_IMAGE:-docksal/varnish:6.1-2.0}
    volumes:
      - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
    labels:
      - io.docksal.virtual-host=varnish.${VIRTUAL_HOST},varnish.${VIRTUAL_HOST}.*
      - io.docksal.cert-name=${VIRTUAL_HOST_CERT_NAME:-none}
    environment:
      - VARNISH_BACKEND_HOST=web
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # Memcached
  memcached:
    hostname: memcached
    image: ${MEMCACHED_IMAGE:-memcached:1.4-alpine}
    command: ["-m", "128"]  # Set memcached memory limit to 128 MB by default
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # Redis
  redis:
    hostname: redis
    image: ${REDIS_IMAGE:-wodby/redis:5.0}
    environment:
      - REDIS_MAXMEMORY=${REDIS_MAXMEMORY:-256m}
      # Additional variables can be found https://github.com/wodby/redis
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # Solr
  solr:
    hostname: solr
    image: ${SOLR_IMAGE:-docksal/solr:1.0-solr4}
    volumes:
      - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
    labels:
      - io.docksal.virtual-host=solr.${VIRTUAL_HOST},solr.${VIRTUAL_HOST}.*
      - io.docksal.virtual-port=8983
      - io.docksal.cert-name=${VIRTUAL_HOST_CERT_NAME:-none}
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # MailHog
  mail:
    hostname: mail
    image: ${MAILHOG_IMAGE:-mailhog/mailhog}
    volumes:
      - project_root:/var/www:ro,nocopy,cached  # Project root volume (read-only)
    labels:
      - io.docksal.virtual-host=mail.${VIRTUAL_HOST},mail.${VIRTUAL_HOST}.*
      - io.docksal.virtual-port=8025
      - io.docksal.cert-name=${VIRTUAL_HOST_CERT_NAME:-none}
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}

  # Blackfire
  blackfire:
    image: blackfire/blackfire
    environment:
      - BLACKFIRE_SERVER_ID
      - BLACKFIRE_SERVER_TOKEN

  # Elastic Search
  elasticsearch:
    hostname: elasticsearch
    image: elasticsearch:6.5.3
    ports:
      - "${ELASTICSEARCH_PORT_MAPPING:-9200}"
    dns:
      - ${DOCKSAL_DNS1}
      - ${DOCKSAL_DNS2}
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
