html {
  min-height: 100%;
}

#logo img {
  max-width: 75%
}
#footer i.fas.fa-heart {
  color: #fff;
}
i.icon.docksal {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("/images/docksal-mark-white.svg");
  background-size: 15px 15px;
}

/* Theme fixes for Algolia Search */
.searchboxed {
  margin-top: 1rem;
  position: relative;
  border: 1px solid #915eae;
  background: #764890;
  border-radius: 4px;}

.searchboxed span {
  right: 0px;
  top:0px;}

body {
  position: relative;
  min-height: 100vh;
}

#sidebar {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}

#sidebar .highlightable {
  background-color: #322A38;
  height: 100%;
}

.searchboxed input {
  display: inline-block;
  color: #fff;
  width: 100%;
  height: 30px;
  background: transparent;
  border: 0;
  padding: 0 25px 0 30px;
  margin: 0;
  font-weight: 300;
}
.searchboxed label {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 10px;
  top: 3px;
}

#search-by:focus {box-shadow: none}

/* Carbon Ads*/
#carbonads * {
  margin: initial;
  padding: initial;
}
#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
  color: rgb(50, 50, 50);
}
#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  z-index: 100;
  margin-top: 1rem;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* --- Carbon Ads*/

/* Feedback */
.feedback--response__hidden {
  display: none;
}
