location / {
  #rewrite_by_lua_block { require("survey.post").go() }
  rewrite_by_lua_file conf/lua/proxyctl.lua;
}

location = /loading.html {
  root /var/www/proxy;
  try_files $uri /loading.html;
}

location = /not-found.html {
  root /var/www/proxy;
  try_files $uri /not-found.html;
}
